$yellow-color: #FFD241;
$white-color: #FFFFFF;
$black-color: #000000;
$geelyGeteBlack: #010101;
$lightOlive: #C5B223;
$gray55: #8C8C8C;
$red-color: #CB0037;
$veryLightGray: #E7E7E7;
$lightGray: #C1C1C1;
